Regular Expression : re
It is a library of python which is deals with the text or string data.
Before using any function we supposed to import re.
It have different functions who creates a sequence of the characters/nos. which is called as regex, after that it will find out the same pattern or structure the text or string data which we have provided.

Natural Language Processing:- 
cleaning a data, removing punctuations, removing stopwords
suggesting future words(on google if we have putted half word it is taking next part)
used in recommendation system
Web scrapping >> Extracting the useful data from any website.
\d = [0-9]
\D =[^0-9]
\s = [] it put the space
\S = [^] Other than space
\w = [a-zA-Z0-9_]
\W = [^a-zA-Z0-9_]
\b = Checkin for the Starting and ending of the regex. (cheacking from forward and backward side)

In [2]:
import re

mobile number
address
date of birth
pan card number
adhar card
email id
bank account no.
passport no.

1) ## findall()

In [3]:
it returns a list of elements that matches our regex or our pattern.
syntax:
    list1 = re.findall(regex, string/text)

SyntaxError: invalid syntax (584897000.py, line 1)

In [ ]:
import re

In [ ]:
Str1 = "My mobile number is 8956345633,6789898902" 
output = re.findall("[0-9]{10}",Str1)
output

In [ ]:
Str1 = "My mobile number is 8956345633 ,6789898902" # string /text
result =re.findall("[0-9]{10}",Str1)
result

In [ ]:
var1="my adhar no is : 5422 1652 8776 6786"
result = re.findall("[0-9]{4}",var1)    # space is mandatory
result
#5422 1652 8776 6786

In [1]:
import re
str1 ="my pan number is DJLPK0268P"
p="[A-z]{5}[0-9]{4}[A-Z]{1}"
result=re.findall(p,str1)
print(result)
# result = re.findall("[A-Z]{5}[0-9]{4}[A-Z]{1}",str1)
# result

['DJLPK0268P']

In [ ]:
str1 ="my pan number is DJLPK0268P"
result = re.findall("[A-Z]{5}[0-9]{4}[A-Z]{1}",str1)
result

In [5]:
var1="my adhar no is : 5422 1652 8776 6786"
p="[0-9]{4}"
result=re.findall(p,var1)
print(result)
#["5422 1652 8776 6786"]
result = re.findall("[0-9]{4} [0-9]{4} [0-9]{4} [0-9]{4}",var1)
result

['5422', '1652', '8776', '6786']

['5422 1652 8776 6786']

In [ ]:
var1="my adhar no is : 5422 1652 8776 6786"
result=re.findall("[0-9]{4}",var1)
result

In [ ]:
import re
str1=("my adhar no is 2387 6445 4735")
result=re.findall("[0-9]{4} [0-9]{4} [0-9]{4}",str1)
result

In [ ]:
str1 = "my pan number is DJLPK0268K,8967FGHTYK"
result1 =re.findall("[A-Z]{5}[0-9]{4}[A-Z]{1}",str1)
result1

In [ ]:
str1 = "my pan number is DJLPK0268K,8967FGHTYK"
result1 =re.findall("[A-Z0-9]{10}",str1)
result1

In [9]:
email = "my eamil id is sarikakokate29@gmail.com"
#sarikakokate29@gmail.com
p="[A-Za-z]{12}[0-9]{2}\W{1}[a-z]{5}[.]{1}[a-z]{3}"
result=re.findall(p,email)
print(result)
# result = re.findall("[a-z]{12}[0-9]{2}[@]{1}[a-z]{5}[.]{1}[a-z]{3}",email)
# result

['sarikakokate29@gmail.com']

In [12]:
str1 = "my pan number is 0268DJLPKK ,PKLK24456L,THYUFRY893"
p="\w{10}"
result=re.findall(p,str1)
print(result)
result1 = re.findall("[A-Z0-9]{10}",str1)
result1

['0268DJLPKK', 'PKLK24456L', 'THYUFRY893']

['0268DJLPKK', 'PKLK24456L', 'THYUFRY893']

In [ ]:
text = "my email id sarikakokate29@gmail.com"
result2 = re.findall("[a-z]{12}[0-9]{2}[@]{1}[a-z]{5}[.]{1}[a-z]{3}",text)
result2

In [ ]:
text = "my email id sarikakokate29@gmail.com"
result3 = re.findall('[A-Za-z@0-9.]{24}',text)
result3

In [ ]:
text = "my name is sarika i am 31 years old my mobile number is 7709708941 and my alternative number is 8600809897"
list1 = re.findall('[0-9]{10}',text) 
print(list1)

In [ ]:
text = """my mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 8308304444. """
list1 = re.findall('[0-9]{10}',text) #[range/required things ]{length}  [0-9] = \d
list1

In [ ]:
text = """my mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[0-9]{10}',text)               #another number is 9 digit so it is not printed as an output
list1

In [ ]:
text = """my mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[0-9]{9}',text)                   # here we have given {9} so it gives output                                                #of 9 digit number excluding last 10th digit
list1

In [ ]:
text = """my mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[0-9]{2}',text) 
list1

In [ ]:
text = """my mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[0-9]',text) 
print(list1) # by default length is 1.

In [ ]:
text = """MY mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[a-z]{5}',text) 
list1

In [ ]:
text = """MY mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[a-z]{2}',text) 
print(list1)

In [ ]:
text = """MY mail id is shamaltajave@gmail.com and 
          my mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Z]{2}',text)
list1

In [4]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Z]{2}',text)
list1

['MY']

In [5]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Z]',text)
list1

['M', 'Y', 'M']

In [6]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z]',text)
print(list1)

['M', 'Y', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'a', 'm', 'a', 'l', 't', 'a', 'j', 'a', 'v', 'e', 'g', 'm', 'a', 'i', 'l', 'c', 'o', 'm', 'a', 'n', 'd', 'm', 'y', 'M', 'o', 'b', 'i', 'l', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's', 'a', 'n', 'd', 'm', 'y', 'a', 'l', 't', 'e', 'r', 'n', 'a', 't', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's']

In [7]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z@.]',text)
print(list1)

['M', 'Y', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'a', 'm', 'a', 'l', 't', 'a', 'j', 'a', 'v', 'e', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', 'a', 'n', 'd', 'm', 'y', 'M', 'o', 'b', 'i', 'l', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's', 'a', 'n', 'd', 'm', 'y', 'a', 'l', 't', 'e', 'r', 'n', 'a', 't', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's', '.']

In [8]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z@.]',text)
print(list1)

['M', 'Y', 'm', 'a', 'i', 'l', 'i', 'd', 'i', 's', 's', 'h', 'a', 'm', 'a', 'l', 't', 'a', 'j', 'a', 'v', 'e', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm', 'a', 'n', 'd', 'm', 'y', 'M', 'o', 'b', 'i', 'l', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's', 'a', 'n', 'd', 'm', 'y', 'a', 'l', 't', 'e', 'r', 'n', 'a', 't', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'i', 's', '.']

In [9]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z@.]{10}',text)
print(list1)

['shamaltaja', 've@gmail.c']

In [10]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444."""
list1 = re.findall('[A-Za-z@.]{10,25}',text)
list1

['shamaltajave@gmail.com']

In [11]:
text = """MY mail id is shamaltajave@gmail.com andmy Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z@.0-9]{11,22}',text)
list1

['shamaltajave@gmail.com']

In [12]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444. """
list1 = re.findall('[A-Za-z0-9.]{2,25}[@][a-z.]{1,20}',text)
list1

['shamaltajave@gmail.com']

In [13]:
text = '''I am Vaishnavi Jayant Shiledar
           my mail is abcdefghij@gmail.com
           my alternate mail id is abc1234_456@gmail.com
           my corporate id is vaishnavi.shiledar@stymer.com,7709708941'''
lst1 = re.findall('[a-z0-9_@.]{11,30}',text)
lst1

['abcdefghij@gmail.com',
 'abc1234_456@gmail.com',
 'vaishnavi.shiledar@stymer.com']

In [14]:
email = "my email id is sarikakokate29@gmail.com"
result = re.findall("[a-z]{12}[0-9]{2}[@]{1}[a-z]{5}[.]{1}[a-z]{3}",email)
result

['sarikakokate29@gmail.com']

In [15]:
text='''My mail ID is baburaogawande2225@mail.com
my mobile number is 9764099659'''
list1=re.findall('[A-Za-z@.1-9]{12,56}',text)
print(list1)

['baburaogawande2225@mail.com']

In [16]:
txt='mail id jadhavkanchan516@gmail.com'
list1=re.findall('[A-Za-z0-9]{2,20}[@][a-z]{1,30}',txt)
list1

['jadhavkanchan516@gmail']

In [17]:
text = """my mail id is sarikadumbare29@gmail.com and my college mail id is sarika.kokate@dypic.in"""
list1 = re.findall("[a-z0-9@.]{10,50}",text)
print(list1)

['sarikadumbare29@gmail.com', 'sarika.kokate@dypic.in']

In [18]:
my = '''My name is Avinash 
and my email ID is bskharate@gmail.com
Nilesh mail is bhopalenilesh9999@gmail.com
and vishwa have vishwajeet27ingole@gmail.com'''
import re
mail = re.findall('[0-9A-Za-z@.]{11,20}',my)
print(mail)

['bskharate@gmail.com', 'bhopalenilesh9999@gm', 'vishwajeet27ingole@g']

In [19]:
my = '''My name is Avinash 
and my email ID is bskharate@gmail.com
Nilesh mail is bhopalenilesh9999@gmail.com
and vishwa have vishwajeet27ingole@gmail.com and vaibhav have 
vaibhaodhon6446@gmail.com. my sister have Apeksha.Kharate@gmail.com also pranjal have pranjal1998@gmail.com
My official mail was service3@theysohnindia.co.in'''
import re
mail = re.findall('[0-9A-Za-z@.]{11,30}',my)
print(mail)

['bskharate@gmail.com', 'bhopalenilesh9999@gmail.com', 'vishwajeet27ingole@gmail.com', 'vaibhaodhon6446@gmail.com.', 'Apeksha.Kharate@gmail.com', 'pranjal1998@gmail.com', 'service3@theysohnindia.co.in']

In [20]:
text = '''I am Vaishnavi
           my mail is abcdefghij@gmail.com
           my alternate mail id is abc1234_456@orkut.com
           my corporate id is vaishnavi.shiledar@stymer.com
           Yahoo id : vaishnavi123@yahoo.co.in
           Rediffmail id is vaishnavi.1234@rediffmail.com
           outlook id is Vaishnavi.1234@outlook.com
           My Contact details are 7755889966
           my birthdate is 01/01/1997'''
lst1 = re.findall('[a-zA-Z0-9_.@/]{11,30}',text)
lst1

['abcdefghij@gmail.com',
 'abc1234_456@orkut.com',
 'vaishnavi.shiledar@stymer.com',
 'vaishnavi123@yahoo.co.in',
 'vaishnavi.1234@rediffmail.com',
 'Vaishnavi.1234@outlook.com']

In [21]:
pancards = ''' PAN CARD numbers are:
               ASDCT1234K
               ZZFSEDGVG0
               CDSTVCCR0K
               SES00000HH
               AZEPT0000P'''
pans = re.findall('[A-Z]{5}[0-9]{4}[A-Z]{1}', pancards)
pans

['ASDCT1234K', 'AZEPT0000P']

In [22]:
adhar_nums = """
               1234 5678 90001
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall('[0-9]{4} [0-9]{4} [0-9]{4}', adhar_nums)
aadhar

['1234 5678 9000', '5247 4412 3567', '1425 2522 3478']

In [23]:
adhar_nums = """
               1234 5678 9000
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall('[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}', adhar_nums)
aadhar

['1234 5678 9000', '5247 4412 3567', '1425 2522 3478']

In [24]:
text = """20/09/2022 
        21/09/2022""" #99/19/2000

In [25]:
text = """20/09/2022 
        21/09/2022""" #99/19/2000
date = re.findall('[0-9]{2}[/][0-9]{2}[/][0-9]{4}', text)
date

['20/09/2022', '21/09/2022']

In [26]:
text = """20/09/2022 
        21/09/2022""" #99/19/2000
date = re.findall('[0-9]{2}[/][0-9]{2}[/][0-9]{4}', text)
date

['20/09/2022', '21/09/2022']

## Special Characters

In [27]:
# [0-9], [A-Z][a-z]

## \d

\d >> [0-9] >> it is only varying for the digits 0-9

In [28]:
adhar_nums = """
               1234 5678 9000
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall('\d{4} \d{4} \d{4}', adhar_nums)
aadhar

# re.findall("[0-9]{4}[ ][0-9]{4}[ ][0-9]{4}",adhar_nums)

['1234 5678 9000', '5247 4412 3567', '1425 2522 3478']

## \D

\D >> it takes everything except [0-9] >> It consider everything except digits [^0-9]

In [29]:
text = ''' Hello everyone, today we are discussing about regular expression and today"s date is 04/03/2024. 
           This our 40th  @topic.'''
data = re.findall('\D{1,5}', text)
print(data)

[' Hell', 'o eve', 'ryone', ', tod', 'ay we', ' are ', 'discu', 'ssing', ' abou', 't reg', 'ular ', 'expre', 'ssion', ' and ', 'today', '"s da', 'te is', ' ', '/', '/', '. \n  ', '     ', '    T', 'his o', 'ur ', 'th  @', 'topic', '.']

## \s

In [30]:
\s >>[ ] >> used for space only

SyntaxError: unexpected character after line continuation character (2238378092.py, line 1)

In [ ]:
text = ''' Hello everyone, today we are discussing about regular expression and today"s date is 20/09/2022. 
           This our 40th topic.'''
data = re.findall('\s{1,5}', text)
print(data)

In [ ]:
adhar_nums = """
               1234 5678 9000
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall('\d{4}\s\d{4}\s\d{4}', adhar_nums)
aadhar

## \S

In [ ]:
\S >> everything other than space

In [ ]:
text = ''' Hello everyone, today we are discussing about regular expression and today"s date is 20/09/2022. 
           This our 40th topic.'''
data = re.findall('\S{1,5}', text)
print(data)

## \w

In [ ]:
\w >> [a-zA-Z0-9_]

In [ ]:
text = ''' Hello everyone, today we are discussing about regular expression and today"s date is 20/09/2022. 
           This our 40th topic.'''
data = re.findall('\w{1,5}', text)
print(data)

## \W

In [ ]:
\W >> [^a-zA-Z0-9_]

In [ ]:
text = ''' Hello everyone, today we are discussing about  @regular expression and today"s date is 20/09/2022. 
           This our 40th topic $$.'''
data = re.findall('\W{2,5}', text)
print(data)

## \b

In [ ]:
\b >> it check for the regex at the beginning and at the end as well.

In [13]:
text = """MY mail id is shamaltajave@gmail.com and 
          my Mobile number is 9556417555 and 
          my alternate number is 830830444857. """
list1 = re.findall('\d{10}',text)
list1

['9556417555', '8308304448']

In [ ]:
adhar_nums = """
               1234 5678 90005
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall('\d{4}\s\d{4}\s\d{4}', adhar_nums)
aadhar

In [ ]:
adhar_nums = """
               1234 5678 9000
               5247 4412 3567
               15485 114 1240
               1425 2522 3478
               142 1452 24535 """
aadhar = re.findall(r'\b\d{4}\s\d{4}\s\d{4}\b', adhar_nums)
aadhar

In [ ]:
\d >> [0-9]
\D >> [^0-9]
\s >> spaces only
\w >> [A-Za-z0-9_]
\W >> [^A-Za-z0-9_]
\b >>  Checkin for the Starting and ending of the regex.

In [ ]:
import re

In [ ]:
text = '''I am Vaishnavi
           my mail is abcdefghij@gmail.com
           my alternate mail id is abc1234_456@orkut.com
           my corporate id is vaishnavi.shiledar@stymer.com
           Yahoo id : vaishnavi123@yahoo.co.in
           Rediffmail id is vaishnavi.1234@rediffmail.com
           outlook id is Vaishnavi.1234@outlook.com
           My Contact details are 7755889966
           my birthdate is 01/01/1997'''
result=re.findall("\w{1,30}@.",text)
print(result)